.home-next-icon {
  position: relative;
  grid-row: 4;
  grid-column: 3;
  color: white;
  display: flex;
  width: 72%;
  margin-left: auto;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.select-panel {
  position: relative;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 28%;
  height: 100%;
  grid-row: 4;
  grid-column: 3;

  // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  //   rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  & .poster-select {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100% * 0.6;
    height: 45% * 0.7;
    // background-color: beige;

    & .circle {
      cursor: pointer;
      background-color: white;
      position: relative;
      height: 100%;
      width: 11%;
      border-radius: 100%;
      transition: all 400ms;

      // box-shadow: rgba(0, 0, 0, 0.22) 0px 4px 10px;
      box-shadow: rgba(0, 0, 0, 0.239) 0px 4px 20px,
        rgba(0, 0, 0, 0.231) 0px 4px 6px;
      &.green {
        // background-color: black;
        background-color: var(--green-pallete);
      }
    }
  }
}

@media screen and (max-width: 1100px) {
  .select-panel {
    grid-row: 4;
    grid-column: 2;
    width: 60%;
    & .poster-select {
      width: 100%;
    }
  }
  .home-next-icon {
    grid-row: 4;
    grid-column: 2;
    width: 30%;
  }
}
