.home-intro {
  position: absolute;
  display: block;
  top: 5rem;
  right: 5rem;
  color: white;
  white-space: nowrap;
}

.home-line {
  position: relative;
  // grid-row: 3;
  // grid-column: 1 / span 2;
  width: 100%;
  height: 1px;
  // justify-self: end;
  background-color: white;
  margin-top: 1rem;
  // margin-bottom: auto;
  transform-origin: left;
  animation: line-grow 800ms;
}
@keyframes line-grow {
  from {
    transform: scaleX(0%);
  }
  to {
    transform: scaleX(100%);
  }
}
.spotlight-wrapper {
  position: relative;
  height: 32vw;
  margin: 80px 6%;
  width: calc(100% - 6% * 2);
  grid-template: 35% 50% auto / 27% 15% auto;
  display: grid;
  column-gap: 25px;
  row-gap: 10px;
  user-select: none;
}

//----HOME - FILM PREVIEW SLIDER----------//
.main-preview {
  z-index: 0;
  position: relative;
  grid-row: 1 / span 3;
  grid-column: 3;
  overflow: hidden;
  border-radius: 8px;
  // box-shadow: var(--green-pallete) -8px 10px 0px;
}
.image-slider {
  position: absolute;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 500%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  transition: transform 1000ms;
}

.film-preview {
  position: relative;
  width: 100%;
  height: 20%;
}
//------------------------------

//---------FILM PREVIEW OVERLAY----------//
.description-wrapper {
  position: relative;
  grid-row: 2;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.home-main-title {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  font-size: xxx-large;
  z-index: 9999;
  color: white;
  white-space: nowrap;
  position: relative;
  grid-row: 1;
  grid-column: 1 / span 2;
}

.home-description {
  color: white;
  font-size: 0.95rem;
  font-weight: 500;
  text-align: left;
  margin-top: 1rem;
}

.preview-date {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;

  position: relative;
  display: block;
  z-index: 999;
  white-space: nowrap;
  color: white;

  white-space: nowrap;
}
.preview-tag-wrapper {
  position: relative;
  display: flex;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 99;
  & .preview-tag {
    font-size: 0.85rem;
    font-family: "Roboto", sans-serif;
    border: 1.5px solid white;
    font-weight: 100;
    border-radius: 100px;
    padding: 5px 14px;
    background-color: black;
    color: white;
    position: relative;
    white-space: nowrap;
  }
}

.home-play-icon {
  position: relative;
  width: 18px;
  height: 18px;
}
.preview-button {
  // background-color: aqua;
  position: relative;
  z-index: 9;
  width: 100%;
  height: 100%;
  grid-row: 4;
  grid-column: 1;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  column-gap: 15px;

  & .home-play-button {
    z-index: 0;
    user-select: none;
    font-family: "Roboto", sans-serif;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    background-color: var(--green-pallete);
    height: 95%;
    width: 8.9rem;

    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 100ms;
    &:active {
      transform: scale(0.9);
    }
  }
  & .bookmark-holder {
    display: flex;
    flex-shrink: 0;
    cursor: pointer;
    // height: 2.6rem;
    // width: 3.4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 100ms;
    &:active {
      transform: scale(0.9);
    }
    & .bookmark-button {
      color: white;
      height: 1.7rem;
      width: 1.8rem;
    }
  }
}
//-----------------------------------------------//

//--------------POSTER HOLDER--------------------//
.main-poster {
  position: relative;
  height: 100%;

  grid-row: 2 / span 3;
  grid-column: 2;
  overflow: hidden;
  animation: slideIn 800ms forwards;
}
@keyframes slideIn {
  from {
    transform: translateY(50%);
  }
  to {
    transform: translateY(0);
  }
}
.poster-slider {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: calc(100% * 5);
}

.poster-element {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}
//----------------------------//

//--Home-promotion--//
.home-promotion {
  position: relative;
  grid-row: 3;
  grid-column: 3;
  height: 100%;
  width: 100%;
  background-color: rgba(1, 1, 1, 0.578);
  border-radius: 10px;
}
//--Home user--///
.home-user {
  position: relative;
  grid-row: 1 / span 2;
  grid-column: 4;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.849);
  border-radius: 6px;
  display: flex;
  justify-content: center;
}
.home-user-ava {
  border: 2px white solid;
  margin-top: 1rem;
  width: 80%;

  height: 15%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
//-------------//
.loading-state {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  animation: fade 1000ms forwards;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media screen and (max-width: 1200px) {
  .spotlight-wrapper {
    margin: 80px 5%;
    width: 90%;
  }
}
@media screen and (max-width: 1100px) {
  .spotlight-wrapper {
    grid-template: 50% 20% auto 9.8% / 70% 30%;
    height: 70vw;
  }
  .main-preview {
    grid-row: 1;
    grid-column: 1 / span 2;
  }
  .main-poster {
    grid-row: 2 / span 2;
    grid-column: 2;
  }
  .home-main-title {
    grid-row: 2;
    grid-column: 1;
  }
  .description-wrapper {
    grid-row: 3;
    grid-column: 1;
  }
}

@media screen and (max-width: 600px) {
  .spotlight-wrapper {
    width: 95%;
    height: 150vw;
    margin: 80px 2.5%;
  }
}
